header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 100px;
    height: 50px;
    background-color: #f7df1e;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: ;
}